.detail{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.detail_c{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 24px;
    margin-bottom: 20px;
    padding: 2px;
}
.detail_img{
    width: 33%;
}
.detail_pg{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:66%;
    margin-top: 8px;
    font-size: medium;
    font-weight: 500;
}
.btn{
    border-radius: 16px;
    padding-right: 8px;
    padding-left: 8px;
    border-width: 2px;
    font-weight: 800;
}
.detail_g{
    margin: 0px;
}
.detail_p{
    margin-bottom: 0px;
}