.container{
    overflow-x: auto;
    border-radius: 16px;
    margin-bottom: 20px;

}
 .tb{
    border-width: 2px;
    border-top-width: 0px;
    border-bottom-width: 2px;
    border-color: black;
 }
 .t_row{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2px;
 }
 .t1{
    width: 80%;
    text-align: left;
    font-weight: 500;
 }

    .t2{
        text-align: left;
    font-weight: 400;
    }
    .t3{
        color:blue;
    }

 